body, html{
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.navbar{
  height: 30px;
  background-color: #4267b2;
  color: #fff;
  border-bottom: #29487d;
  .logo-container{
    display: inline-block;
    width: 29%;
    a {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    height: 30px;
    line-height: 30px;
    width: 70%;
    display: inline-block;
    li {
    display: inline-block;
    width: 32%;
    a {
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
}

.posts{
  width: 40%;
  margin: 0 auto;
  .post{
    list-style: none;
    padding: 15px;
  }
  span{
    display: block;
  }
}
.auth-container{
  height: 100vh;
  width: 100%;
  background-color: rgb(233, 235, 238);
  overflow: hidden;

  .sign-up, .log-in{
    width: 30%;
    margin: 5vh auto 0 auto;
    background-color: #fff;
    padding: 30px;
    box-shadow:  3px 3px 5px 6px #ccc;
    form{
      width: 60%;
      margin: 0 auto;
      .field{
        padding-bottom: 10px;
      }

      .actions {
        display: inline-block;
        input{
          background-color: #4267b2;
          border-radius: 5px;
          color: #fff;
          border: 0;
          padding: 5px;
          cursor: pointer;
          margin-right: 40px;
          &:hover{
            background-color: rgb(233, 235, 238);
            color: #000;
          }
        }
      }
      [login]{
        background-color: #4267b2;
        border-radius: 5px;
        color: #fff;
        padding: 5px;
        display: inline-block;
        a{
          text-decoration: none;
          color: #fff;
        }
        &:hover{
          background-color: rgb(233, 235, 238);
          a {
            color: #000;
          }
        }
      }
      a[href="/users/sign_up"]{
        text-decoration: none;
        color: #fff;
        background-color: #4267b2;
        padding: 3px;
        display: inline-block;
        border-radius: 5px;
        &:hover{
          background:  rgb(233, 235, 238);
          color: #000;
        }
      }
    }
  }
}
