<div class="l-container">
  <% if @posts.any? %>
    <div class="post-header">Latest Posts</div>
    <%= render 'posts_list', posts: @posts %>
    <% else %>
     <p empty> <b>You don't have any posts, please create one and add some friends</b> </p>
  <% end %>
</div>
