<section class="user-info">
  <h6 class="h-title">
    <div class="avatar">
      <%= profile_img_for(@user) %>
    </div>
    <span class="userinfo"><%= ("Name: " + @user.user_name) %> </span>
    <span class="userinfo"><%= ("Email: " + @user.email) %> </span>
  </h6>
  <% if (current_user.id == @user.id) %>
    <%= link_to "Edit info", edit_user_registration_path,
      class: "edit" %>
  <% end %>
</section>
