<% @user = user %>
<% if @user %>
    <span user class="user-" id="user-<%= @user.id %>">
      <div avatar>
        <span image><%= image_tag gravatar_image_url(user.email) %></span>
        <%= link_to user.user_name, user_path(user), class: :name %>
      </div>
      <div userdata>
        <span class="field add-friend">
          <%= link_to 'Add friend', '#', class: 'request-friend' %>
        </span>
      </div>
    </span>
<% end %>
