<div class="profile-cont">
  <% if @user %>
    <% provide(:title, @user.user_name) %>
    <% provide(:title, @user.email) %>
    <aside class="col-md-3">
      <%= render 'user_data' %>
      <!-- future : friends list(take 9) -->
    </aside>
    <div class="profile-posts">
      <%= render 'posts_list', posts: @posts %>
    </div>
    <div class="cl-right"></div>
  <% end %>
</div>
