@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

$cont-color: #ccc;
$bg-img: linear-gradient(to bottom right, #631280, #5109FF);
$bg-gra: linear-gradient(to bottom right, #C5ACFF, #FFFFFF);

body{
  overflow-y: hidden;
}

body, html{
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  width: 100vw;
  scroll-behavior: smooth;
}
.navbar{
  height: 6vh;
  background-image: $bg-img;
  color: #fff;
  border-bottom: #29487d;
  .logo {
    padding-left: 10px;
    display: inline-block;
    width: 29%;
    color: #fff;
    font-weight: bold;
    height: 6vh;
    line-height: 6vh;
    text-decoration: none;
    cursor: pointer;
  }
  ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 30px;
    line-height: 30px;
    width: auto;
    li {
    display: inline-block;
    padding-left: 5vw;
    a {
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
}
.toggle-lable1{
  display: none;
}
.toggle-lable{
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  padding-right: 0.5em;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
}
.container{
  position: relative;
  height: 6vh;
}
.res-nav{
  position: absolute;
  display: block !important;
  height: 30vh;
  width: 30%;
  top: -1000px;
  transform: rotate(0deg);
  overflow: hidden;
}
[notify]{
  cursor: pointer;
  position: relative;
}
[note]{
  font-size: 0.8em;
  width: 0.5em;
  height: 0.5em;
  text-align: center;
  padding: 0.1em;
  background-color: red;
  border-radius: 50%;
  float: right;
  margin-top: 1em;
  margin-right: -1em;
}
[note1]{
  font-size: 0.8em;
  background-color: red;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  padding-bottom: 0.4em;
  display: inline-block;
  text-align: center;
}

.toggle-lable {
  // display: none;
}

[note2] {
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 0.2em;
  top: 0.4em;
  width: 0.5em;
  height: 0.5em;
}

.log-out, .find-friends {
  text-decoration: none;
  color: #fff;
  margin: 0 2vw 0 2vw;
}

.toggle-lable {
  display: none;
}

.log-out {
  position: absolute;
  right: 0;
  top: 0.5em;
}

.note-container{
  display: none;
  position: absolute;
  z-index: 50;
  padding: 1em;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  color: #fff;
  left: 60vw;
}

.lg-nav-profile {
  margin: 0 2vw 0 2vw;
  a {
    color: #fff;
    text-decoration: none;
  }
  img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    vertical-align: middle;
  }
}

.note-container, .notification-container {
  display: none;
}

#togg:checked ~ .res-nav{
  position: absolute;
  display: block !important;
  height: 100vh;
  width: 30vw;
  top: 0;
  right: 0;
  transition: top 0.5s ease-out;
  background-image: linear-gradient(to bottom right, #C5ACFF, #f3e5f5);
  border: solid 1px #fff;
  padding: 10px;
  z-index: 1;
  .notifications{
    width: 60%;
    color: #fff;
    margin-left: 20%;
    .notification-list{
      .notification{
        font-size: 0.6em;
        background-image: $bg-img;
        border-radius: 0.5em;
        p{
          padding: 0.5em;
          line-height: normal;
        }
      }
    }
  }
  li:first-of-type{
    margin-top: 7vh;
  }
  a{
    color: #000000;
    &:hover{
      text-decoration: underline;
    }
  }
  li{
    display: block;
    font-weight: bold;
    min-height: 10vh;
    i{
      width: 4vw;
      margin-right: 0.5em;
      color: #000;
      padding-left: 0.5em;
      height: 10vh;
      line-height: 10vh;
    }
    a{
      height: 10vh;
      line-height: 10vh;
    }
    &:last-of-type{
      text-align: right;
      a{
        color: red;
        padding-right: 14vw;
      }
    }
  }
}
.requests-link{
  font-size: 0.8em;
  color: blue !important;
  text-align: right;
  display: inline-block;
  width: 100%;
  font-weight: 200;
}
#togg{
  display: none;
}
#togg:checked ~ .toggle-lable{
  display: none;
}
#up{
  display: none;
}

#up1 {
  display: none;
}

#togg:checked ~ .toggle-lable1{
  display: inline-block;
  font-size: 1.2em;
  color: #000;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  padding-right: 0.2em;
  cursor: pointer;
  z-index: 10;
  &:hover{
    opacity: 0.5
  }
}
[empty]{
  text-align: center;
  width: 100vw;
}
[nav-image]{
  color: #000;
  vertical-align: middle;
  img{
    border-radius: 50%;
    width: 4vw;
    margin-right: 0.5em;
    vertical-align: middle;
  }
  a{
    height: 5.5vh;
    line-height: 5.5vh;
    display: inline-block;
  }
}
.posts{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .post{
    list-style: none;
    padding: 20px;
  }
  span{
    display: block;
  }
}
.zoom{
  &:hover{
    transform: scale(1.04);
    transition: transform 0.4s;
  }
}
.l-container{
  position: relative;
  overflow: hidden;
  min-height: 90vh;

  .post-header {
    text-align: center;
  }
}
.post-container .zoom{
  &:hover{
    transform: none;
  }
  width: 70vw;
  margin: 0 auto;
  display: block;
}

.auth-container{
  min-height: 81.4vh;
  display: flex;
}

.l-container {
  position: relative;
}

.l-container .toggle-post{
  position: fixed;
  bottom: 6vh;
  border: none;
  border-radius: 50%;
  right: 10vw;
  width: 50px;
  height: 50px;
  background-color: #000;
  color: #fff;
}

.close-post {
  text-align: right;
  color: #fff;
  position: absolute;
  right: 2vw;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
}

.l-container .form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    );
  right: 0;
  height: 100vh;
  display: none;

  .post-form-cont {
    position: absolute;
    top: 30vh;
    left: 30vw;
    text-align: center;
    color: #fff;

    label {
      display: block;
      text-align: left;
      font-weight: bold;
    }

    textarea {
      width: 20vw;
    }

    input[type='submit'] {
      display: block;
      background-image: $bg-img;
      border: none;
      padding: 0.3em;
      color: #fff;
      border-radius: 0.2em;
    }
  }
}

.welcome-cont {
  background: radial-gradient(
      rgba(0, 0, 0, 0.97),
      rgba(0, 0, 0, 0.5)
    ),image-url('media.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  min-height: 88vh;
  color: #fff;
  flex: 0 60%;
  display: inline-block;
  font-size: 1.8em;
  margin-bottom: -1.5vh;

  div, span {
    padding: 0;
    margin: 0 auto;
  }

  .welcome-info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 40vh;
    margin-top: 30vh;
  }
}

.welcome-info {
  animation: showup 7s infinite;
}

.anim-2 {
  width:0px;
  animation: reveal 7s infinite;
}

.anim-3 {
  width:0px;
  padding: 0;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#anim0 {
  animation: slideleft 10s 1;
  font-size: 0.8em;
}

#anim3 {
  animation: slideup 12s 1;
  font-size: 0.7em;
}

#anim2 {
  margin-left:-1000px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-1400px; }
    20% { margin-left:-1400px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes slideup {
    0% { margin-top:1400px; }
    20% { margin-top:1400px; }
    35% { margin-top:0px; }
    100% { margin-top:0px; }
}

@keyframes slideleft {
  0% { margin-right:-1400px; }
  20% { margin-right:-1400px; }
  35% { margin-right:0px; }
  100% { margin-right:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

.profile-cont {
  width: 70%;
  margin: 0 auto;
}

.auth-container, .edit-container, .p-container, .profile-cont, .users-container, .requests-container, .post-container{
  width: 100%;



  .sign-up, .log-in {
    display: inline-block;
    box-sizing: border-box;
    flex: 0 40%;
    width: 70%;
    margin: 0 auto;

    h2 {
        text-align: center;
        margin-bottom: 3vh;
      }

    .fb {
      margin-top: 2em;
    }

    form{
      width: 60%;
      box-shadow: 1px 5px 5px 5px #666;
      padding-left: 2em;
      margin: 20vh auto 0 auto;
      padding-bottom: 3vh;
      .field{
        padding-bottom: 10px;
      }

      .actions {
        display: inline-block;
        input{
          background-image: $bg-img;
          border-radius: 5px;
          color: #fff;
          border: 0;
          padding: 5px;
          cursor: pointer;
          margin-right: 40px;
          &:hover{
            background: none;
            background-color: rgb(233, 235, 238);
            color: #000;
          }
        }
      }
      [login]{
        background-color: #4267b2;
        border-radius: 5px;
        color: #fff;
        padding: 5px;
        display: inline-block;
        a{
          text-decoration: none;
          color: #fff;
        }
        &:hover{
          background-color: rgb(233, 235, 238);
          a {
            color: #000;
          }
        }
      }

    }
  }

  .sm-sign-up .sign-up, .sm-log-in .log-in {
    display: none;
  }

  .edit-user, .new-post{
    width: 30%;
    margin: 10vh auto 0 auto;
    background-color: #fff;
    padding: 30px;
    box-shadow:  3px 3px 5px 6px $cont-color;
    form{
      width: 60%;
      margin: 0 auto;
      .field{
        padding-bottom: 10px;
      }

      .actions {
        display: inline-block;
        input{
          background-image: $bg-img;
          border-radius: 5px;
          color: #fff;
          border: 0;
          padding: 5px;
          cursor: pointer;
          margin-right: 40px;
          &:hover{
            background: none;
            background-color: rgb(233, 235, 238);
            color: #000;
          }
        }
      }
      [login]{
        background-color: #4267b2;
        border-radius: 5px;
        color: #fff;
        padding: 5px;
        display: inline-block;
        a{
          text-decoration: none;
          color: #fff;
        }
        &:hover{
          background-color: rgb(233, 235, 238);
          a {
            color: #000;
          }
        }
      }

    }
  }
  .log-in, .new-post{
    margin: 5vh auto 5vh auto;
  }
  .edit-user{
    width: 40%;
    margin: 2vh auto 0 auto;
    .form-container{
      width: 80%;
      margin:  0 auto;
      form{
        width: 100%;
        input{
          width: 80%;
        }
      }
    }
  }
}
.auth-container a[href="/users/sign_up"], .edit{
  text-decoration: none;
  color: #fff;
  background-image: $bg-img;
  padding: 3px;
  display: inline-block;
  border-radius: 5px;
  &:hover{
    background:  #fff;
    color: #000;
  }
}
.avatar{
  background:
  linear-gradient(45deg, rgb(76, 0, 255), transparent),
  rgb(216, 118, 255) repeating-linear-gradient(45deg, rgb(183, 0, 255) 0%, rgb(183, 0, 255) 5%, transparent 5%, transparent 10%);
  width: 25vw;
  height: 20vh;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  img{
    border-radius: 50%;
    width: 35%;
    margin: 10px 0 0 32%;
  }
}
.l-container .posts-container {
  margin: 0 auto;
}

.posts-container, .post-container{
  width: 80%;
  border-radius: 40px;
  padding: 25px;
  background:
    image-url('media.jpg');
  background-size: cover;
  .post{
    background-image: $bg-gra;
    color: #000;
    border-radius: 30px;
    width: 43%;
    margin: 0 auto 20px auto;
  }

}
.post-container {
  margin-top: 4vh;
  border-radius: 0;
  .post{
    width: 90%;
    [icons] li:first-child{
      padding-right: 40vw;
    }
}
}
.creator{
  height: 12vh;
  display: inline-block;
  width: 100%;
  .name{
    display: inline;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .profile-btn{
    a{
      padding: 0.09em;
      border-radius: 0.3em;
      background-image: $bg-img;
      color: #fff;
      height: 3vh;
      text-decoration: none;
      &:hover{
        background-image:none;
        background-color: #e9ebee;
        color: #000;
        text-decoration: none;
      }
    }
  }
  span{
    display: inline-block;
  }
  [image]{
    vertical-align: middle
  }
  img{
    border-radius: 50%;
    display: inline;
    height: 8vh;
  }
  .name{
    height: 12vh;
    line-height: 12vh;
  }
}
[post]{
  color: #000;
  text-decoration: none;
}
.pagination{
  margin-top: 20px;
  height: 5vh;
  width: 40vw;
  background-image: $bg-gra;
  margin-bottom: 50px;
  color: black;
  ul{
    li{
      display: inline;
    }
  }
}

.new-post {
  h1{
    padding-left: 70px;
  }
  form{
    label{
      display: block;
    }
    .form-control{
      width: 80%;
    }
    input[type="submit"]{
      background-image: $bg-img;
      color: #fff;
      border-radius: 6px;
      padding: 10px;
    }
  }
}
.cl-right{
  clear: right;
}
.profile-posts{
  width: 60%;
  float: right;
  margin-top: 30vh;
  .profile-btn{
    display: none;
  }
  .post{
    width: 80%;
  }
}
.userinfo{
  font-size: 16px;
  display: block;
}
.user-info{
  padding: 10px;
  width: 100%;
  height: 40vh;
}
.delete{
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  background-color: red;
  border-radius: 5px;
  color: #fff;
  padding: 3px;
  &:hover{
    background-color: #fff;
    color: red;
  }
}
.post-header{
  font-size: 30px;
  font-weight: 600;
}

.users, .requests{
  width: 70%;
  box-shadow:  3px 3px 5px 6px $cont-color;
  background-color: #fff;
  margin: 5vh auto 0 auto;
  padding: 10vh 10vw 10vh 10vw;
  box-sizing: border-box;
  height: 80vh;
  overflow-y: scroll;
  .users-list {
    width: 100%;
    margin: 0 auto;
    [user]{
      min-height: 10vh;
      display: block;
      position: relative;
    }
  }
}
[friends]{
  margin-top: 1vh;
}
.user-info .cancel-friend{
  position: static;
}
[mutuals]{
  font-size: 0.8em;
  color: grey;
}
.requester{
  width: 20vw;
  display: inline-block;
}
.accept-request{
  margin-right: 1.5vw;
  margin-left: 1.5vw;
}
.accept-request, .cancel-request{
  background-image: $bg-img;
  padding: 0.2em;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5em;
  &:hover{
    background: none;
    background-color: $cont-color;
    color: #000;
  }
}
.add-friend, .cancel-friend{
  display: inline-block;
  position: absolute;
  right: 10vw;
  bottom: 1.5em;
}
.cancel-friend{
  text-decoration: none;
  color: red;
  padding: 5px;
  background-color: $cont-color;
  border-radius: 5px;
  &:hover{
    background-color: #fff;
  }
}
.request-friend{
  color: #fff;
  background-color: #5109FF;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    background-color: $cont-color;
    color: #000;
  }
}
[icons]{
  width: 70%;
  margin: 0 auto;
  li{
    list-style: none;
    display: inline-block;
    &:first-child{
      padding-right: 17vw;
    }
    i{
      font-size: 1.5em;
    }
  }
}
.comments-div{
  display: none;
  width: 80%;
  margin: 0 auto;
  form {
    position: relative;
    input[name='comment[content]']{
      border-radius: 1.5em;
      width: 60%;
    }
    input[type="submit"]{
      background-image: $bg-img;
      border: none;
      border-radius: 1em;
      color: #fff;
      position: absolute;
      right: 0;
      top: 0.5vh;
    }
  }
  .img{
    display: inline-block;
    vertical-align: middle;
  }
  img{
    display: inline-block;
    border-radius: 50%;
    height: 4vh;;
  }
  .user{
    text-decoration: none;
  }
  .content{
    display: inline-block;
    padding-right: 15vw;
  }
  .comments{
    vertical-align: middle;
  }
}
.toggle{
  display: none;
}
.toggle:checked ~ .comments-div{
  display: block;
}
.toggle:checked ~ [icons] .comm{
  opacity: 0.5;
}
.comment{
  position: relative;
  i {
    position: absolute;
    right: 1vw;
    bottom: 1vh;
  }
}
.heart{
  color: black;
}
.unheart{
  color: black;
  opacity: 0.5;
}
.comment-updates{
  span{
    display: inline-block;
  }
  a{
    color: red;
    text-decoration: none;
  }
}
.fb{
  background-image: $bg-img;
  padding: 0.3em;
  color: #fff;
  display: inline-block;
  margin-left: 10vw;
  text-decoration: none;
  border-radius: 2em;
  &:hover{
    background-image: none;
    background-color: #ccc;
    color: #000;
  }
}
.fl-right{
  float: right;
}
.all-comments-container{
  width: 100%;
  height: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  [close]{
    float: right;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    &:hover{
      opacity: 0.5;
    }
  }
  .all-comments{
    visibility: hidden;
    width: 60%;
    padding: 2em;
    background-image: $bg-gra;
    margin: 5vh auto 0 auto;
    box-shadow:  3px 3px 5px 6px #000;
    height: 70vh;
    overflow-y: scroll;
  }
}
[avatar]{
  height: 10vh;
  display: inline-block;
  box-sizing: border-box;
  [image]{
    display: inline-block;
    height: 10vh;
    vertical-align: middle;
    img{
      border-radius: 50%;
      height: 5vh;
      margin-top: 2vh;
      display: inline-block;
    }
  }
  span{
    a{
      color: blue;
      text-decoration: none;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
[userdata]{
  display: inline-block
}
.prof-request{
  margin-top: 1vh;
}
footer{
  width: 100%;
  height: 6vh;
  background-image: $bg-img;
  text-align: center;
  color: #fff;
  margin: 0;
  p{
    height: 6vh;
    line-height: 6vh;
    font-size: 0.7em;
  }
}

.anim-0, .toggle-log-in, .toggle-sign-up {
  display: none;
  padding: 1.2em;
}
@media only screen and (max-width:780px){
  .auth-container .sign-up, .auth-container .log-in{
    width: 50%;
  }

  .lg-nav {
    display: none;
  }

  .toggle-lable {
    display: block;
  }

  .auth-container {
    display: block;

    .anim-0 {
      display: block;
      width: 60%;
      margin: 0 auto;
      text-align: center;

      a{
        color: #fff;
        cursor: pointer;
      }
    }

    .log-in, .sign-up {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      color: #000;
      background: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.9)
        );
      right: 0;
      height: 100vh;

      .toggle-log-in, .toggle-sign-up {
        color: #fff;
      }

      form {
        width: 60%;
        margin: 30% 20% 0 auto;
        border: 1px #fff solid;
        box-shadow: none;
        background-color: #fff;
      }
    }
  }

  .post-container .post [icons] li:first-child {
    padding-right: 20vw;
}
  .res-nav{
      width: 50vw !important;
  }
  .l-container .posts .post{
    width: 70%;
    .profile-btn{
      display: none;
    }
    form {
      input[name='comment[content]'] {
        width: 50%;
      }

    }
    .comments{
      .content{
        display: inline-block;
        width: 80%;
      }
    }
  }
  .profile-cont{
    display: block;
    .profile-posts{
      float: none;
      margin: 0;
      width: 80%;
      margin: 0 auto;

    }
    .user-info{
      display: inline-block;
      width: 60%;
      margin-left: 20%;
      .avatar{
        width: auto;

      }
    }
  }

  .users{
    width: 90%;
    padding: 0 0 0 5vw;
    .users-list{
      width: 100%;
      a{
        font-size: 0.7em;
      }
    }
  }
  .edit-container{
    .edit-user{
      width: 100%;
      form {
        .avatar{
          width: 70vw;
        }
      }
    }
  }

  .requests-container {
    .requests{
      width: 95%;
      padding: 2vh 2vw 2vh 2vw;
      .requests-list{
        [avatar]{
          width: auto;
          a{
            font-size: 0.7em;
          }
        }
        [userdata]{
          a{
            font-size: 0.7em;
          }
        }
      }
    }
  }
  header .container{
    .logo, [welcome]{
      font-size: 0.7em;
    }
  }

  .auth-container .welcome-cont .welcome-info {
    margin-top: 20vh;
    height: 30vh;
  }

  .sm-sign-up, .sm-log-in{
    display: block;
  }

}

@media only screen and (max-width:450px){

  .auth-container {
    .welcome-cont {
      .welcome-info {
        margin-top: 15vh;
        font-size: 0.9em;

        .anim-2 #anim2 {
          display: inline-block;
          width: 80%;
          margin-right: 10%;
        }
      }
    }

    a[href="/users/sign_up"] {
      display: none;
    }
  }

  .navbar .container {
    .res-nav {
      width: 100vw !important;
    }

    [note] {
      margin-top: 1.2em;
    }

  }
  .l-container {
    width: 100vw;
    margin: 0;
    padding: 0;
    .posts-container {
      width: 98vw;
      box-sizing: border-box;
      padding: 2em 0 2em 0;

      .posts {
        display: block;
        width: 98%;
        margin: 0 auto;

        .post {
          width: 88%;

          [icons] li:first-child {
            padding-right: 35vw;
          }
        }
      }
    }
  }
}
