<div class="posts-container">
  <% @posts = posts %>
  <% if @posts.any? %>
    <div class="posts">
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    </div>
    <%== pagy_bootstrap_nav(@pagy)%>
  <% end %>
</div>
