<div class="notifications">
  <% @friendships = friendships %>
  <% if @friendships.any? %>
    <div class="notification-list">
      <% if request.env['PATH_INFO'] == all_requests_path %>
        <% @friendships.each do |friendship| %>
          <%= render 'friendships/notification', friendship: friendship %>
        <% end %>
      <% else %>
        <% @friendships[0, 4].each do |friendship| %>
          <%= render 'friendships/notification', friendship: friendship %>
        <% end %>
      <% end %>
    </div>
    <%= link_to 'See all notifications', all_requests_path, method: :get, class: 'requests-link' %>
  <% end %>
</div>
