<div class="users">
  <% @users = users %>
  <% if @users.any? %>
    <div class="users-list">
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </div> 
  <% end %>
</div>
