<div class="welcome-info">
  <div id="anim1">WELCOME</div>
  <div class="anim-2">
    <span id='anim2'>TO THE FACEBOOK CLONE SOCIAL NETWORK</span>
  </div>
</div>

<div class="anim-0">
  <p id='anim0'>Get started by <a href="#" onclick="openForm('log-in')">Logging in</a> or <a href="#" onclick="openForm('sign-up')">signing up </a>on our platform</p>
</div>
<div class="anim-3">
  <p id='anim3'>
    Make use of the platform by postng, commenting, liking, and most importantly, making new friends
    <i>You can log in with credentials provided in the log in page have a quick glance at the features using seeded data</i>
  </p>
</div>
